In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import graphviz
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
%matplotlib inline

In [4]:
data = pd.read_csv('./ensemble.csv')
data.head()

,Unnamed: 0,age,balance,duration,campaign,previous,housing_le,loan_le,default_le,recent_pdays,...,self-employed,technician,white-collar,married,single,secondary,tertiary,unknown,success,unknown_outcome
0,0,59,2343,1042,1,0,1,0,0,0.0001,...,0,0,1,1,0,1,0,0,0,1
1,1,56,45,1467,1,0,0,0,0,0.0001,...,0,0,1,1,0,1,0,0,0,1
2,2,41,1270,1389,1,0,1,0,0,0.0001,...,0,1,0,1,0,1,0,0,0,1
3,3,55,2476,579,1,0,1,0,0,0.0001,...,0,0,0,1,0,1,0,0,0,1
4,4,54,184,673,2,0,0,0,0,0.0001,...,0,0,1,1,0,0,1,0,0,1

In [5]:
data.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [7]:
X = data.drop(columns='deposit_le')
Y = data['deposit_le']

In [8]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=0)

# Bagging

In [10]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
model_Bag = BaggingClassifier(tree.DecisionTreeClassifier(random_state=1))
model_Bag.fit(X_train, Y_train)
model_Bag.score(X_test,Y_test)

0.7891908032248433

# Sample Regressor

In [11]:
from sklearn.ensemble import BaggingRegressor
model = BaggingRegressor(tree.DecisionTreeRegressor(random_state=1))
model.fit(X_train, Y_train)
model.score(X_test,Y_test)

0.3857962922343792

# Random Forest

In [12]:
from sklearn.ensemble import RandomForestClassifier
model_rf= RandomForestClassifier(random_state=1)
model_rf.fit(X_train, Y_train)
model_rf.score(X_test,Y_test)

0.7966557181248134

In [13]:
for i, j in sorted(zip(X_train.columns, model_rf.feature_importances_)):
    print(i, j)

age 0.12135974876502513
balance 0.13449994614476032
campaign 0.05283642372208138
default_le 0.002179235225576279
duration 0.3910094002026979
entrepreneur 0.0044028333666416754
housing_le 0.0353095709658241
loan_le 0.013156531513379274
married 0.013557004633329761
other 0.012617864341008334
pink-collar 0.007486302327983948
previous 0.025449753383215295
recent_pdays 0.05877562994182252
secondary 0.013478658691103245
self-employed 0.004888088977897999
single 0.011669587937868294
success 0.04475767986807246
technician 0.009553959636418825
tertiary 0.013531526158496126
unknown 0.00565825892790637
unknown_outcome 0.009442270482797537
white-collar 0.014379724786093218

# Adaboost

In [14]:
from sklearn.ensemble import AdaBoostClassifier
model_adb = AdaBoostClassifier(random_state=1)
model_adb.fit(X_train, Y_train)
model_adb.score(X_test,Y_test)

0.8112869513287548

# Gradient Boosting

In [15]:
from sklearn.ensemble import GradientBoostingClassifier
model_grb= GradientBoostingClassifier(learning_rate=0.01,random_state=1)
model_grb.fit(X_train, Y_train)
model_grb.score(X_test,Y_test)

0.7963571215288145

# XGBoost

Do in cmd:

pip install xgboost

In [19]:
import xgboost as xgb
model_xgb=xgb.XGBClassifier(random_state=1,learning_rate=0.01)
model_xgb.fit(X_train, Y_train)
model_xgb.score(X_test,Y_test)

C:\Users\avinash\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.7930725589728277